@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* background-repeat: repeat-x; */
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
  background-image: url("/fill-in.png");
  background-repeat: st;
  background-color: black;
}
.bg-container {
  background-color: rgb(25, 38, 74, 0.85);
  /* opacity: 0.85; */
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  box-sizing: border-box;
}
.bg-container-dark {
  /* background-color: rgb(255, 255, 255, 0.96); */
  background-color: rgb(25, 38, 74, 0.95);
  /* opacity: 0.85; */
  min-height: 100%;
  height: auto;
  width: 100%;
  z-index: 0;
  position: absolute;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
}
.wallet-adapter-button-trigger {
  background-color: linear-gradient(
    180deg,
    #604ae5 0%,
    #813eee 100%
  ) !important;
}

/* .wallet-adapter-button-trigger {
  background-color: rgba(213, 63, 232) !important;
} */

@font-face {
  font-family: "Monst-Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "RobotMono";
  src: url("/fonts/RobotoMono.ttf");
}
